<div id="message_post_<%= message.id %>" class="post slim <%= ' private' if message.private %><%= ' moderated' if message.moderated %> level_<%= [4, message.level].min %>">
	<% if message.visible_to? current_user %>
		<span style="float:right;">
			<%= avatar message.creator, :icon %>
			<%= render :partial => '/users/minimal', :locals => {:user => message.creator} %>
			<%= render :partial => '/messages/message_time', :locals => {:message => message} %>
			<span class="actions"><%= render :partial => '/messages/message_actions', :locals => {:message => message} %></span>
		</span>
		<span class="body">
			<%= markdown message.body %>
		</span>
	<% else %>
		<%= message.moderated ? 'Moderated' : 'Private' %> message
	<% end %>
</div>