<div>
	<h2><%=h profile.name %>
		<small>
			(<%= h profile.profile_type.name %>)
			<span><%= link_to 'Edit', edit_profile_path(profile) %></span>
			<% content_tag :span, link_to(h(profile.url), profile.url), :class => 'url' if profile.url %>
		</small>
	</h2>
</div>

<div>
  <%= markdown profile.body %>
</div>

<% if @profile.lock_version > 1 %>
	<div style="margin: 20px 0px 10px; 1px solid black;">Revision history:</div>
	<%= render :partial => 'profile_version', :collection => @profile.versions.reverse, :as => :profile %>
<% end %>

<%= render :partial => '/assets/assets', :locals => {:assets => @profile.assets, :attachable => @profile } %>

<div id="profile_<%= profile.id %>_comments">
	<%= render :partial => '/comments/comments', :locals => {:commentable => profile} %>
</div>