<div>
	<div class='avatar'>
		<%= avatar profile.owner %>
	</div>
	<h2><%=h profile.name %>
		<% content_tag :span, link_to(h(profile.url), profile.url), :class => 'url' if profile.url %>
		<small>
			(<%= h profile.profile_type.name %>)
			<% if profile.edited_by? current_user %>
				<span><%= link_to image_tag('page_edit.png'), edit_profile_path(profile) %></span>
			<% end %>
			<span style="float:right;" id="profile_<%=profile.id %>_subscribe">
				<%= render :partial => '/profiles/subscribe', :locals => {:profile => profile} %>
			</span>
			<%= render :partial => '/profiles/roles', :locals => {:profile => profile} %>
		</small>
	</h2>
</div>

<div>
  <%= markdown profile.body %>
</div>

<% profile.tags.each do |tag| -%>
	<%= link_to_tag(tag) %>
<% end -%>
<% if profile.commented_by? current_user %>
	<%= image_tag 'tag_edit.png' %>
<% end %>
  
<% if profile.lock_version > 1 and profile.edited_by? current_user %>
	<div style="margin: 20px 0px 10px; 1px solid black;">Revision history:</div>
	<%= render :partial => 'profile_version', :collection => profile.versions.reverse, :as => :profile %>
<% end %>

<%= render :partial => '/assets/assets', :locals => {:assets => profile.assets, :attachable => profile, :upload => profile.edited_by?(current_user) } %>

<div id="profile_<%= profile.id %>_comments">
	<%= render :partial => '/comments/comments', :locals => {:commentable => profile} %>
</div>