<h1>Editing profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => nil, :rows => nil %>
  </p>
  
  <div class="wmd-preview"></div>
  
  <p>
    <%= f.label :tag_list %> <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>