<div class="comments">	
	<div class='title'><%= commentable.name %>'s Comments</div>
	<!-- <div class='subtitle'>Subtitle text</div> -->
	<%= render :partial => '/comments/new', :locals => {:commentable => commentable} %>
	<div id="comments_<%= commentable.id %>">
		<% commentable.comments.roots.reverse.each do |comment| %>
			<% # The container is a workaround for the fact that Ajax.Updater doesn't support replace (only replace_html) 
				%>
			<div  id="comment_post_container_<%= comment.id %>" >
				<%= render :partial => '/comments/comment', :locals => {:comment => comment} %>
			</div>
		<% end %>
	</div>
</div>

