<h1>Reset password for <%= @user.login %></h1>
  
<%= error_messages_for :user %>
<% form_for @user, :url => reset_password_path(@code)  do |f| %>
<table >
    <tr>
        <td><%= f.label "password", 'New password' %></td>
        <td><%= f.password_field :password, :size => 20 %></td>
    </tr>
      <tr>
        <td><%= f.label 'password_confirmation', 'Confirm new' %></td>
        <td><%= f.password_field :password_confirmation, :size => 20 %></td>
    </tr>
    
    <tr><td><%= submit_tag 'Change Password', :disable_with => "Changing..." %></td></tr>
</table>
<% end %>
