<div class="yui-g" id="page_<%= @user.page.id %>"> 
	<div style="float:right"> 
		<table style="max-width: 240px;">
			<tr>
				<td>Avatar</td>
				<td><%= avatar @user %></td>
			</tr>
			<tr>
				<td>Username</td>
				<td>
					<%= render :partial => '/users/minimal', :locals => {:user => @user} %>
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td><%= h @user.name %></td>
			</tr>
			<tr>
				<td>Joined on</td>
				<td><%=h @user.created_at.to_date.to_s(:long) %></td>
			</tr>
			<tr>
				<td>Time in app</td>
				<td>~<%=h (@user.total_time_in_app.to_f / 1.hour).round(1) %> hours</td>
			</tr>
			<% if !@contacts.blank? %>
				<tr>
					<td>Contacts</td>
					<td><%= render :partial => '/contacts/contacts', :locals => {:contacts => @contacts } %></td>
				</tr>
			<% end %>
			<% if !@identities.blank? %>
				<tr>
					<td>Identities</td>
					<td><%= render :partial => '/identities/identities', :locals => {:identities => @identities} %></td>
				</tr>
			<% end %>
			<% if !@friends.blank? or @can_add_friend  %>
				<tr>
					<td>Friends</td>
					<td><%= render :partial => '/relationships/new' if @can_add_friend %>
						<%= render :partial => '/relationships/relationships', :locals => {:friends => @friends} %></td>
				</tr>
			<% end %>
			<% if !@fans_of.blank? %>
				<tr>
					<td>Fan of</td>
					<td><%= render :partial => '/relationships/relationships', :locals => {:friends => @fans_of} %></td>
				</tr>
			<% end %>
			<% if !@fans.blank? %>
				<tr>
					<td>Fans</td>
					<td><%= render :partial => '/relationships/relationships', :locals => {:friends => @fans} %></td>
				</tr>
			<% end %>
			<% if logged_in_as_admin? and !@multis.blank? %>
				<tr>
					<td>Multis</td>
					<td><%= render :partial => '/relationships/relationships', :locals => {:friends => @multis} %></td>
				</tr>
			<% end %>
			<% if logged_in_as_admin? and !@ips.blank? %>
				<tr>
					<td>IPs</td>
					<td>
						<% @ips.map do |ip| %>
							<%= image_tag "tor.png" if is_tor_node? ip %>
							<%= link_to_remote ip[0], {:url  => same_ip_admin_user_path(@user), :method => :get, :update => "users_on_same_ip_as_#{@user.id}"},
									:title => ip[1] %>
						<% end.join(', ') %>
						<div id="users_on_same_ip_as_<%= @user.id%>"></div>
					</td>
				</tr>
			<% end %>
			<% if @badges %>
				<tr>
					<td>Badges</td>
					<td><%= render :partial => '/badges/badges', :locals => {:badges => @badges} %></td>
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td><%= link_to 'See details', edit_user_url(@user) if logged_in_as_admin? or current_user == @user %></td>
			</tr>
		</table>
	</div> 
	
	<div id="page_<%= @user.page.id %>_loading_message">
		Loading page... <%= image_tag 'ajax-spinner.gif', :id => "page_#{@user.page.id}_preload_indicator" %>
		<%= javascript_tag remote_function(:update => "page_#{@user.page.id}", :url => page_url(@user.page), :method => :get, :position => :bottom,
											:loaded => update_page {|update| update.remove "page_#{@user.page.id}_loading_message"}) %>
	</div>
</div> 