<div style="margin-bottom: 10px;">
	<%= image_tag 'eye.png', :title => 'This page is private. Only specified users may read it.' unless page.read_by? AnonUser %>
	<h2 style="display: inline;"><%=h page.friendly_id %></h2>
	
	<% content_tag :span, link_to(h(page.url), page.url), :class => 'url' if page.url %>
	
	<% if page.edited_by? current_user %>
		<span><%= link_to image_tag('page_edit.png'), edit_page_path(page), :title => 'Edit page' %></span>
	<% end %>
	<%= render :partial => '/pages/roles', :locals => {:page => page} %>
	<span id="page_<%= page.id %>_subscribe"><%= render :partial => '/pages/subscribe', :locals => {:page => page} %></span>
	<%= link_to image_tag('date.png'), page_versions_url(page), :title => "Revision history" %>
	<%= render :partial => '/layouts/addthis', :locals => {:url => page_url(page) } %>
</div>

<div>
	<%= markdown page.body %>
</div>

<% page.tags.each do |tag| -%>
	<%= link_to_tag(tag) %>
<% end -%>
<% if page.commented_by? current_user %>
	<%= image_tag 'tag_edit.png', :title => 'Edit tags' %>
<% end %>
  
<%= render :partial => '/assets/assets', :locals => {:assets => page.assets, :attachable => page, :upload => page.edited_by?(current_user) }  if logged_in? %>

<div id="page_<%= @page.id %>_events">
	Loading events... <%= image_tag 'ajax-spinner.gif', :id => "events_#{page.id}_preload_indicator" %>
	<%= javascript_tag remote_function(:update => "page_#{page.id}_events", 
		:url => events_url(:eventable_id => page.id, :eventable_type => page.class), :method => :get ) %>
</div>

<div id="page_<%= page.id %>_messages" style="clear:both;">
	Loading messages... <%= image_tag 'ajax-spinner.gif', :id => "page_#{page.id}_messages_preload_indicator" %>
	<%= javascript_tag remote_function(:update => "page_#{page.id}_messages", :url => page_messages_url(page), :method => :get) %>
</div>