<tr class="<%= cycle('odd', 'even') %>" id="user_<%= user.id %>">
	<td><%= user.id %></td>
	<td><%= link_to image_tag('person.png'), user_path(user), :title => 'Preferences page' %><%= link_to_user user %></td>
	<td><%= h user.email %></td>
	<td><%= user.ips.join(', ') %></td>
	<td><%= user.multis.map{|multi| link_to multi.login, user_path(multi) }.join(', ') %>
<% if false %>
	<td>
		<% if !contact.activated? %>
			<%= link_to_remote image_tag('accept.png'), {:url => admin_user_path(user), :method => :put}, :title => 'Force activation' %>
		<% end %>
	</td> 
<% end %>
<td/>
	<td>
		<%= check_box_only user.crypted_password? %>
		<%= link_to_remote image_tag("email#{ '_open' if user.password_reset_code?}.png"), {:url => reset_admin_user_path(user), :method => :put}, 
				:title => "Email password reset link#{ ' (again)' if user.password_reset_code? }" %>
	</td>
	<td style="max-width: 400px; overflow-x: hidden;">
		<span style="margin-right: 5px; float: left;"><%= link_to_function(image_tag('add.png'), :id => "add_url_link_#{user.id}") do |page|
				page["add_url_link_#{user.id}"].hide
				page["add_url_#{user.id}"].visual_effect :appear, :duration => 0.2
			end %>
		</span>
		<% user.identities.each do |identity| %>
			<span style="float:left;">
		        <%= link_to_remote 'X', {:url => unmap_admin_user_path(user, :identity_id => identity.id), :method => :delete, :confirm => "Are you sure? This will probably prevent them from logging in again."}, :class => 'close' %>
				<a href="<%= identity.url%>"><%= h identity.url %></a>
			</span>
		<% end %>
		<% form_remote_tag :url => map_admin_user_path(user), :method => :put do  %>
			<span id="add_url_<%= user.id %>" style="display: none;"><br/>
				<%= text_field_tag :url, nil, :style => 'width: 70%;' %>
				<%= image_submit_tag 'add.png' %>
			</span>
		<% end %>
	</td>
	<td><%= user.state %>
		<% unless user == current_user %>
		  <% if user.active? %>
		    <%= link_to_remote image_tag('flag_yellow.png'), {:url => suspend_admin_user_path(user), :method => :put}, :title => 'Suspend user'  %>
		  <% else %>
		    <%= link_to_remote image_tag('flag_green.png'), {:url => unsuspend_admin_user_path(user), :method => :put}, :title => 'Unsuspend user'  %>
		  <% end %>
		<% end %>
	</td>
	<%= render :partial => 'user_roles', :locals => {:user => user} %>
</tr>