<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= APP_NAME.humanize %><%= ' :' + @title if @title %></title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&2.7.0/build/base/base-min.css">
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= javascript_include_tag :all, :cache => true %>
</head>

<body class="<%= body_class %>"> 
	<div id="doc2" class="yui-t1"><!—-overall document wrapper--> 
		<div id="hd" role="banner"><!--header / masthead-->
			<%= render :partial => 'layouts/user_header' %>
		</div> 
		<div id="bd"><!--body-->
			<div id="yui-main"> 
				<div class="yui-b" id="content"  role="main"><!--primary-->
					<%= render :partial => '/layouts/flashes' -%>
					<%= render :partial => '/alerts/welcome' %>
					<%= yield %>
				</div> 
			</div> 
			<div class="yui-b"><!--secondary-->
				<ul class='menu' role="complementary navigation">
					<li><%= link_to 'Main', root_path %></li>
					<li><%= link_to 'About', about_path %>
					<li><%= link_to 'Profiles', profiles_path %></li>
					<li><a href="#" onclick="UserVoice.Popin.show(); return false;">Feedback</a></li>
					<% if logged_in? %>
						<li class='first'><%= link_to 'Home', home_path %></li>
						<li><%= link_to 'Preferences', user_path(current_user) %></li>
					<% end %>
					<% if logged_in_as_admin? %>
						<li class='first'><%= link_to 'Admin', admin_root_path %></li>
					<% end %>
				</ul>
			</div> 
		</div> 
		<div id="ft" role="contentinfo"><!--footer-->
			<% if Rails.env.development? or logged_in_as_admin? %>
			  <div id="footnotes_holder">
			  </div>
			<% end %>
		</div> 
	</div> 
	<%= render :partial => '/layouts/uservoice' %>
</body> 

</html>


